<div class="about-first">
  <div>
    <hr align="left"><h2>ABOUT US</h2>
  </div>
  <h1>Meet Our Dream Team</h1>
</div>
<div class="about-second">
  <div class="swiper-container swiper3">
    <div class="swiper-wrapper">
      <div class="swiper-slide about-second-slide">
        <div class="about-second-slide_left">
          <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
        </div>
        <div class="about-second-slide_right">
          <div class="about-second-slide_header">
            <hr>
            <h2>ABOUT US</h2>
          </div>
          <h1>The Trailblazer Company</h1>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
          </p>
        </div>
      </div>
     <div class="swiper-slide about-second-slide">
       <div class="about-second-slide_left">
         <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
       </div>
       <div class="about-second-slide_right">
         <div class="about-second-slide_header">
           <hr>
           <h2>ABOUT US</h2>
         </div>
         <h1>The Trailblazer Company</h1>
         <p>
           There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
         </p>
       </div>
     </div>
     <div class="swiper-slide about-second-slide">
       <div class="about-second-slide_left">
         <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
       </div>
       <div class="about-second-slide_right">
         <div class="about-second-slide_header">
           <hr>
           <h2>ABOUT US</h2>
         </div>
         <h1>The Trailblazer Company</h1>
         <p>
           There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
         </p>
       </div>
     </div>
     <div class="swiper-slide about-second-slide">
       <div class="about-second-slide_left">
         <%= image_tag 'https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
       </div>
       <div class="about-second-slide_right">
         <div class="about-second-slide_header">
           <hr>
           <h2>ABOUT US</h2>
         </div>
         <h1>The Trailblazer Company</h1>
         <p>
           There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
         </p>
       </div>
     </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="swiper-button-prev">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="swiper-pagination swiper-pagination3"></div>
  </div>
</div>
<div class="about-third">
  <div class="about-third_left">
    <div class="about-third_left_header">
      <hr>
      <h2>ABOUT US</h2>
    </div>
    <h1>Corporate Responsibility</h1>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. <br><br> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br><br>Some of ther text ot be introduced in regards of the company biography.
    </p>
  </div>
  <div class="about-third_right">
    <%= image_tag 'https://images.pexels.com/photos/1102570/pexels-photo-1102570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' %>
  </div>
</div>
<div class="about-fourth">
  <div>
    <hr align="left"><h2>ABOUT US</h2>
  </div>
  <h1>Partnerships</h1>
</div>
<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper3 = new Swiper('.swiper3', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination3',
      clickable: true,
    },
  });
</script>
