<div class="swiper-container">
  <div class="home swiper-wrapper">
    <section class="home-first swiper-slide">
      <%= cl_video_tag("ugandasafarifire_srpn97", :audio_codec=>"none", :quality=>"auto", :autoplay=> true, :loop=> true, :controls=> false, :playsinline=> true) %>
      <div class="home-first-content">
        <%= cl_image_tag("ugandan-safari-uganda-flag_t2opqo.png", :quality=>"auto") %>
        <h2>Discover The Mysteries of</h2>
        <h1>UGANDA</h1>
        <%= cl_image_tag("text-decoration_vjhrdn.png", :quality=>"auto") %>
      </div>
    </section>
    <section class="home-second swiper-slide">
      <div class="home-second-content">
        <hr align="left">
        <h2>Live the Adventure In</h2>
        <h1>REAL LIFE</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          <br><br>
          If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        </p>
        <%= link_to 'Browse Safaris', safaris_path, class: "white-button-lg" %>
      </div>
    </section>
    <section class="home-third swiper-slide">
      <div class="home-third-content">
        <hr align="right">
        <h2>This is Not a Documentary</h2>
        <h1>SEE THEM UP CLOSE</h1>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          <br><br>
          If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        </p>
        <%= link_to 'Gorilla Trek', safaris_path, class: "white-button-lg" %>
      </div>
    </section>
    <section class="home-fourth swiper-slide">

    </section>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
<!--   <span class="swiper-button-next">O</span>
  <span class="swiper-button-prev">L</span> -->
</div>
<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
      direction: 'vertical',
      slidesPerView: 1,
      spaceBetween: 30,
      mousewheel: true,
      uniqueNavElements: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
  });
</script>
