<div class="safaris-edit">
  <br><br>
  <br><br>
  <h1>Edit Safari / Add a Hotel / Add an Attraction</h1>
    <%= simple_form_for(@safari) do |f| %>
      <%= f.input :banner_image %>
      <%= f.input :banner_image_cache, as: :hidden %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :itinerary_description %>
      <%= f.input :hotels_description %>
      <%= f.input :price %>
      <%= f.submit %>
    <% end %>
    <%= simple_form_for [@safari, SafariHotel.new] do |f| %>
        <%= f.input :hotel_id, as: :check_boxes,collection: Hotel.all %>
        <%= f.submit %>
    <% end %>
    <%= simple_form_for [@safari, SafariAttraction.new] do |f| %>
        <%= f.input :attraction_id, as: :check_boxes, collection: Attraction.all %>
        <%= f.submit %>
    <% end %>
</div>
